@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-style: normal;
  src: local("IBM Plex Sans ExtraLight"), url("../fonts/web/eot/IBMPlexSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/desktop/mac/IBMPlexSans-ExtraLight.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: normal;
  src: local("IBM Plex Sans Light"), url("../fonts/web/eot/IBMPlexSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/web/woff2/IBMPlexSans-Light-Latin1.woff2") format("woff2"), url("../fonts/web/woff/IBMPlexSans-Light-Latin1.woff") format("woff"), url("../fonts/desktop/mac/IBMPlexSans-Light.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  src: local("IBM Plex Sans Regular"), url("../fonts/web/eot/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/web/woff2/IBMPlexSans-Regular-Latin1.woff2") format("woff2"), url("../fonts/web/woff/IBMPlexSans-Regular-Latin1.woff") format("woff"), url("../fonts/desktop/mac/IBMPlexSans-Regular.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  src: local("IBM Plex Sans Bold"), url("../fonts/web/eot/IBMPlexSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/desktop/mac/IBMPlexSans-Bold.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Bold.ttf") format("truetype");
}

body {
  font-family: 'IBM Plex Sans', sans-serif;

}

.container {
  text-align: center;
  margin: auto;
  background-color: white;
  width: 960px;
}

header {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
}

header a {
  display: block;
  color: black;
}

header #title {
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
  width: 860px;
}

header #icon {
  float: left;
  text-align: center;
  width: 100px;
}

#content {
  text-align: center;
}

#years {
  float: left;
  width: 60px;
  height: 260px;
  margin-left: 40px;
  margin-right: 10px;
}

#years ul {
  list-style-type: none;
  padding: 0;
}

#years a {
  text-decoration: none;
  display: block;
  color: black;
}

#sec-1940 {
  background-color: #f5a3b0;
  padding: 10px;
}

#sec-1956 {
  background-color: #9cc5d7;
  padding: 10px;
}

#sec-1959 {
  background-color: #f7f3ac;
  padding: 10px;
}

#sec-1960 {
  background-color: #c6a2f5;
  padding: 10px;
}

#sec-1962 {
  background-color: #9cd7ab;
  padding: 10px;
}

#sec-1970 {
  background-color: #f7d5a7;
  padding: 10px
}

#sec-1980 {
  background-color: #f79cd0;
  padding: 10px
}



#main {
  float: right;
  width: 800px;
  height: 260px;
  margin-right: 40px;
  margin-left: 10px;
  background-color: #e3e3e3;
}

#main p {
  text-align: left;
  background-color: #e3e3e3;
  padding: 60px;
}

i {
  font-size:30px;
  margin-left: 40px; 
}

body #map {
  float: right;
  width: 800px;
  margin-right: 40px;
  background-color: #f0f0f0;
}

#display {
  font-size: 85%;
}

.details {
  float: left;
  text-align: left;
  padding-top: 80px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-left: 80px;
  list-style-type: none;
}

.triangle {
  display:none;
  width:auto;
  position:fixed;
  float:inherit;
  margin-left: 48px;
  margin-top: -25px;
  border-top: 1.1em solid transparent;
  border-bottom: 1.1em solid transparent;
  border-left: 1em solid;
}

#sec-1940:hover .triangle, #sec-1956:hover .triangle, #sec-1959:hover .triangle, 
#sec-1960:hover .triangle, #sec-1962:hover .triangle, #sec-1970:hover .triangle,
#sec-1980:hover .triangle{
    display: block;
}

#sec-1940:hover .triangle {
  border-left: 1em solid #f5a3b0;
}
#sec-1956:hover .triangle {
  border-left: 1em solid #9cc5d7;
}
#sec-1959:hover .triangle {
  border-left: 1em solid #f7f3ac;
}
#sec-1960:hover .triangle {
  border-left: 1em solid #c6a2f5;
}
#sec-1962:hover .triangle {
  border-left: 1em solid #9cd7ab;
}
#sec-1970:hover .triangle {
  border-left: 1em solid #f7d5a7;
}
#sec-1980:hover .triangle {
  border-left: 1em solid #f79cd0;
}



.spacing {
  text-indent: 1em;
}

footer {
  clear: both;
}

body {
  background-color: #c1c1c1;
}
